{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    <div class="faq-item">
        <h3 class="faq-question">{{ question }}</h3>
        <div class="faq-answer"><p>{{ answer }}</p></div>
    </div>
{% endblock %}
