{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    <div class="faq-item">
        <div class="faq-question">{{ question|raw }}</div>
        <div class="faq-answer">{{ answer|raw }}</div>
    </div>
{% endblock %}
